*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    color:white;
    background-color:black;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon\ logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* box2 */

.add-first{
    color: #cccc; 
    font-size: .85rem;
    margin-left: 15px;

}
.add-sec{
    font-size: 1rem;
    margin-left: 5px;


}
.add-icon{
    display: flex;
   
}
/* box3 */
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    width: 650px;
    height: 35px ;
    border-radius: 3px;
}
.search-select{
    border-top-left-radius:3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color:rgb(228, 153, 40);
    align-items: center;
    color: black;
    


}
/* box4 */
span{
    font-size: 0.7rem
}

.nav-second{
    font-size: .85rem;
    font-weight: bold;

}
/* box6 */
.nav-cart i{
    font-size: 40px;
}
.nav-cart p{
    font-size: 1rem;
    padding-top: 10px;
}
.nav-cart{
    display: flex;
}
/* pannel */
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
.pannel-all{
    display: flex;
    padding-left: 5px;

}
.pannel-ops p {    
    display: inline;
}
.pannel-ops{
    display: flex;
    width: 800px;
    font-size: .85rem;
    justify-content: space-between;
    padding-right: 500px;

}

.panel-deal{
    width: 100px;
    color: rgb(104, 188, 237);
    
    font-weight: 700;
}

/* hero-section */
.hero-section {
    background-image: url(hero-image.jpg);
    background-size: cover;
    height: 300px;
    
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:peachpuff;
    

    
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}


.box-img{
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;  
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
  
/* footer */
.footer{
    margin-top: 15px;

}
.footer-pannel1{
    background-size: cover;
    width: 800px
    /* background-color: #37475a; */
    /* color: white; */
    /* height: 50px; */
    /* display: flex;  */
    /* justify-content: center; */
    /* align-items: center; */
    


}

 